.navigation-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .navigation-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-menu li {
    margin-bottom: 20px;
  }
  
  .navigation-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
  }
  
  .navigation-menu a:hover {
    background-color: #1a1a1a;
    transform: scale(1.02);
  }
  
  .menu-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .menu-text {
    flex-grow: 1;
  }
  