.custom-modal .ant-modal {
  height: 60px;

  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.custom-modal .ant-modal-header {
  background-color: #ffffff;
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: start;
  padding: 16px;
}

.custom-modal .ant-input,
.custom-modal .ant-input-number {
  border-radius: 8px;
  border: 1px solid #00000074;
  background-color: #f5feff;
  padding: 8px;
}

.custom-modal .ant-form {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
}
