/* .custom-table {
    width: 100%;
    border-radius: 8px;
  } */

  .custom-table .ant-table-thead > tr > th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
  

  .custom-table .ant-table-tbody > tr > td {
    background-color: #fff;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 16px; 
  }

  .custom-table .ant-table-cell {
    border-right: 1px solid #ddd;
  }
