.custom-icon {
    font-size: 50px;
    color: #0c3861;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #1890ff;
    text-align: center;
  }
  
  .ant-form {
    background-color: #818181;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-form-item {
    margin-bottom: 16px;
  }
  
  .ant-form-item-label {
    font-weight: 600;
    color: #555;
  }
  
  .ant-input, .ant-input-password {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .ant-input:focus, .ant-input-password:focus {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  
  .ant-btn-primary {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #1890ff;
    border: none;
  }
  
  .ant-alert-error {
    margin-bottom: 16px;
  }
  
  .ant-checkbox-wrapper {
    font-size: 14px;
    color: #555;
  }